/*Reset basico*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

/*Definimos REM*/
html {
  font-size: 100%; /*16px rem*/
  scroll-behavior: smooth;
}

/* mobile*/

body {
  max-width: 100vw;
}
/*Comienzo de menu hamburquesa*/
.header {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 24px;
  margin-left: 5%;
}

.menu {
  position: absolute;
  top: 40px;
  right: 0%;
  width: 100%;
  height: 224px;
  background: #0000ec;
  display: none;

  a {
    display: block;
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  a:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.show-menu-btn {
  margin-right: 1rem;
  display: block;
}

.hide-menu-btn {
  display: none;
}

.show-menu-btn,
.hide-menu-btn {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.show-menu-btn i,
.hide-menu-btn i {
  line-height: 2.75rem;
}

#chk:checked ~ .menu {
  display: block;
}

#chk:checked ~ .show-menu-btn {
  display: none;
}

#chk:checked ~ .hide-menu-btn {
  display: block;
}

#chk {
  position: absolute;
  top: -500px;
  visibility: hidden;
  z-index: -1111;
}
/* H1 de titulo principal por importancia*/
h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.63rem;
  color: #060a24;
  margin-top: 9%;
  margin-left: 5%;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  .h1world {
    text-decoration: line-through;
  }
  .h1point {
    color: #060a24;
  }
  /*Punto final del H1*/
}
h1::after {
  content: ".";
  color: #060a24;
  font-size: 2.5rem;
}
/*Parrafo 1  Ocultamos el desktop ya que es ditinto al mobile y mostramos el segundo*/
.parrafo1_desktop {
  display: none;
}
.parrafo1_mobile {
  margin: 5%;
  font-family: "IBM Plex Mono";
  font-weight: normal;
  font-size: 0.88rem;
  line-height: 1.38rem;
  color: #060a24;
}
/*boton conoce mas y escucha episodios */
.bot_mas {
  margin-top: 12.5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 3rem;
  background-color: #00f3bb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #060a24;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.bot_mas:hover {
  color: #ffffff;
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  transition-duration: 0.4s;
}

/*Podcasts*/

.podcast_main {
  max-width: 100vw;
  margin-top: 7.5%;
  padding-top: 20%;
  padding-bottom: 39.86%;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);

  /*Efecto de corte en bg*/
  clip-path: polygon(0 2.5%, 100% 0%, 100% 97.5%, 0% 100%);
}

.episodios {
  margin-left: 10%;
  max-width: 100vw;
  margin-bottom: 6.5%;

  h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
    font-size: 2.25rem;
    line-height: 2.63rem;
    font-weight: 400;
  }
}

.podcasts {
  display: flex;
  justify-content: space-around;
  width: 100%;

  margin-bottom: 2%;
  flex-wrap: wrap;
  margin: auto;

  iframe {
    width: 94%;
    height: 255px;
    border: 0px;
  }
}
/*Seccion de donde venimos*/
.dd_venimos_conteiner {
  display: flex;
  flex-direction: column; /*revisar para desktop*/
  position: relative; /*uso esto para la foto del celular*/
  .fotocelu {
    max-width: 100vw;
   
    position: absolute;
    top: -6rem; /*Preguntar, si uso % se me va al diablo. me esta tomando el body? */
    overflow: hidden;

    img {
     max-width: 100%;
     max-height: 50%;
    }
  }
  .venimos_titulo {
    margin-top: 450px;
    margin-bottom: 2.5%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.63rem;
    color: #060a24;
    margin-left: 5%;
    margin-right: 5%;
  }
  .venimos_parrafo {
    color: #060a24;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.88rem;
    line-height: 1.37rem;
    font-weight: 400;
  }
}
/*Seccion de invitados*/
.invitados_titulo {
  margin-top: 17%;
  margin-bottom: 4.4%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.63rem;
  color: #060a24;
  margin-left: 5%;
  margin-right: 5%;
}

.conteiner_gallery {
  display: flex;
  flex-wrap: wrap;

  .photogallery {
    width: 100%;
    height: 15.19rem; /* otra forma? */

    background-size: cover;
    background-repeat: no-repeat;
  }
  #photo01 {
    background-image: url(/assets/images/grace-hopper.png);
  }
  #photo02 {
    background-image: url(/assets/images/Katie-Bouman.png);
  }
  #photo03 {
    background-image: url(/assets/images/Margaret_Hamilton.png);
  }

  #photo04 {
    background-image: url(/assets/images/computerinthe1950s.png);
  }
  #photo05 {
    background-image: url(/assets/images/firstprogrcomputer.png);
  }
  #photo06 {
    background-image: url(/assets/images/susan-kare.png);
  }
}
/*Seccion de otros temas*/
.conteiner_temas {
  display: flex;
  flex-direction: column;

  text-align: center;

  .sub_conteiner_temas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imagen_temas {
      width: 6.5rem;
      height: 6.5rem;
      margin-top: 15.3%;
      margin-bottom: 4.05%;
    }
    .temas_texto {
      font-family: "IBM Plex Sans", sans-serif;
      color: #060a24;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
    }
  }
}

/*Ultimas*/
.conteiner_ultimas {
  margin-top: 13.2%;
}
.ultimas_background {
  width: 100%;
  height: 21.31rem; /*de vuelta lo mismo... Usar un margin de un elemento para limiar caja?*/
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  h2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
    font-size: 2.25rem;
    line-height: 2.63rem;
    font-weight: 400;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20%;
  }
}
  .bot_ultimas {
    margin-top: 12.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 21%;
    padding: unset;
    background-color: #00f3bb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #060a24;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .bot_ultimas:hover {
    color: #ffffff;
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    transition-duration: 0.4s;
  }
  /*Ponemos el footer para mobile. */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .copyr {
    font-size: 0.88rem;
    color: #060a24;
    line-height: 1.38rem;
    margin-top: 7.5%;
  }
  .listafooter {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 1rem;
    padding-left: 14%;
    padding-right: 14%;
    a {
      text-decoration: none;
      color:#060A24;
    }

    .spotify {
      width: 1rem;
      height: 1rem;
      
    }
    .instagram {
      width: 1rem;
      height: 1rem;
      
    }
    .twitter {
      width: 1rem;
      height: 1rem;
      
    }
    .facebook {
      width: 1rem;
      height: 1rem;
     
    }
    .telegram {
      width: 1rem;
      height: 1rem;
      
    }
  }
}
@media screen and (min-width: 570px) {

}
/*Desktop Media ajustada en 570 px para ver bien el navegador. */
@media screen and (min-width: 570px) {
  /* Body ajustado a 1440px para ajustar al requerimiento*/
  body {
    max-width: 1440px;
  }
  /*Menu. Eliminmos los elementos que hacen la hamburguesa y mostramos un menu
en linea comun*/
  .header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      display: none;
    }
  }

  .logo {
    width: 43.25px;
    margin-left: 5%;
  }

  .menu {
    position: unset;
    top: unset;
    right: unset;

    width: 100%;

    height: unset;

    background: rgba(10, 10, 10, 0);
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    align-items: inherit;

    a {
      display: block;
      color: #060a24;
      font-size: 1rem;
      text-decoration: none;
      margin-left: 3.33%;
      margin-top: unset;

      text-align: unset;
      margin-bottom: unset;
    }
    a:hover {
      color: #00f3bb;
      text-decoration: line-through;
      transition-duration: 0.4s;
    }
    a:active {
      font-size: 1rem;
      color: rgba(6, 10, 36, 0.56);
      transition-duration: 0.2s;
    }
  }

  #chk:empty ~ .hide-menu-btn {
    display: block;
  }
  /*Titulo principal en H1*/

  h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4rem;
    line-height: 5.25rem;
    font-weight: normal;
    color: #060a24;
    margin-top: 8.33%;
    margin-left: 13.4%;
    text-align: left;
    text-decoration: none;
    

    .h1world {
      text-decoration: line-through;
    }
    .h1point {
      color: #060a24;
    }
    /* Un pseudo elemento para el punto final del H1*/
  }
  h1::after {
    content: ".";
    color: #060a24;
    font-size: 2.5rem;
  }
  /*Parrafo 1. Se muestra el parrafo de desktop ya que es distinto al mobile */
  .parrafo1_desktop {
    margin-left: 13.4%;

    font-family: "IBM Plex Mono";
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 40%;
    color: #060a24;
    display: block;
  }
  .parrafo1_mobile {
    display: none;
  }
  /*boton conoce mas y escucha episodios */
  .bot_mas {
    margin-top: 2.77%;

    margin-left: 13.4%;
    margin-right: 1.1%;
    width: 15.7%;
    background-color: #00f3bb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #060a24;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .bot_mas:hover {
    color: #ffffff;
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    transition-duration: 0.3s;
  }

  /*Podcasts seccion conteiner*/

  .podcast_main {
    max-width: 100%;
    margin-top: unset;
    padding-top: 4.44%;
    padding-bottom: 16.5%;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);

    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .episodios {
    width: 100vw;
    margin-top: 13.4%;
    margin-bottom: 1.44%;
    /*Titulo en H2 para darle importancia*/
    h2 {
      font-family: "IBM Plex Sans", sans-serif;
      color: #ffffff;
      font-size: 2.25rem;
      line-height: 2.63rem;
      font-weight: 400;
    }
  }

  .podcasts {
    width: 40.6%;

    iframe {
      width: 100%;
      height: 255px;
      border: 0px;
    }
    iframe:hover{
      filter: grayscale(100%);
      transition-duration: 0.3s;
    }
    
  }
  /* Seccion de donde venimos. contenedor*/
  .dd_venimos_conteiner {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 100%;
    

    .fotocelu {

      width: 100%;
      
      align-self: center;
      position: absolute;
      /*top: unset;*/
      left: unset;
      transform: translateY(-100px);
      z-index: 1;
      img {
        
        max-width: 457.6px;
        max-height: 666px;
        margin-left: 15%;
        
      }
      img:hover {
        filter: contrast(70%);
        transition-duration: 0.2s;
      }
    }
    .subconteiner_venimos {
      display: flex;
      flex-direction: column;
      margin-top: 1.38%;

      width: 50%;
    }
    .venimos_titulo {
      margin: 0px;
      margin-bottom: 1.66%;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 3rem;

      line-height: 3.88rem;
      color: #060a24;
    }
    .venimos_parrafo {
      color: #060a24;
      margin-left: 0%;
      margin-right: 35%;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .invitados_titulo {
    margin-top: 17.01%;
    margin-bottom: 1.5%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3rem;

    line-height: 3.88rem;
    color: #060a24;
    margin-left: 13.88%;
    margin-right: 0px;
  }

  .conteiner_gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(61, 61, 61, 1);
    .photogallery {
      width: 480px;
      height: 364px;
      background-size: cover;
      background-repeat: no-repeat;
      flex-grow: 1;
    
    }
    .photogallery:hover{
      transform: scale(0.95);
      transition-duration: 0.4s;
      
  
    }
  }

  .conteiner_temas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-start;

    .sub_conteiner_temas {
      width: 260px;
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: center;

      .imagen_temas {
        width: 6.5rem;
        height: 6.5rem;
        margin-top: 3.4%;
        margin-bottom: 0.9%;
      }
      .temas_texto {
        font-family: "IBM Plex Sans", sans-serif;
        color: #060a24;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
      }
    }
  }
  /*Ultimas*/
  .conteiner_ultimas {
    margin-top: 2.36%;
  }
  .ultimas_background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    h2 {
      font-family: "IBM Plex Sans", sans-serif;
      color: #ffffff;
      font-size: 3rem;
      line-height: 3.88rem;
      text-align: center;
      margin-top: 15%;
    }
  }
    .bot_ultimas {
      width: 24%;
      margin-top: 2.5%;
      margin-left: unset;
      margin-right: unset;
      margin-bottom: 10.48%;

      height: 3rem;
      background-color: #00f3bb;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #060a24;
      font-family: "IBM Plex Mono";
      font-weight: 500;
      font-size: 1.13rem;
      line-height: 1.5rem;
    }
    .bot_ultimas:hover {
      color: #ffffff;
      background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
      transition-duration: 0.4s;
    }
  
  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2.5% 7% 2.1% 7%;
    .copyr {
      font-size: 1rem;
      color: #060a24;
      line-height: 1.75rem;
      margin-top: unset;
    }
    .listafooter {
      list-style-type: none;
      display: inline-flex;
      justify-content: space-between;
      width: 20%;
      margin-bottom: unset;
      margin-top: unset;
      padding-left: unset;
      padding-right: unset;
      a {
        text-decoration: none;
        
      .spotify {
        width: 1.13rem;
        height: 1.13rem;
        
      }
      .instagram {
        width: 1.13rem;
        height: 1.13rem;
        
      }
      .twitter {
        width: 1.13rem;
        height: 1.13rem;
        
      }
      .facebook {
        width: 1.13rem;
        height: 1.13rem;
       
      }
      .telegram {
        width: 1.13rem;
        height: 1.13rem;
      }
      }
      a:hover {
        color:#00F3BB;
        transition-duration: 0.2s;
      }
    }
  }
}
